# Ignora archivos del sistema Mac 
.DS_store

# Ignora la carpeta node_modules y vscode
node_modules
.vscode

# Ignora todos los archivos de texto
*.txt

# Ignora los archivos relacionados a API keys
.env

# Ignora archivos de configuración SASS
.sass-cache

# Ignora carpeta producccion
dist

# Ignora los logs del uarn
yarn-error.log